* {box-sizing: border-box}
.container {
  padding: 16px;
}
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgb(255, 255, 255);
}

input[type=text]:focus {
  background-color: rgb(255, 255, 255);
  outline: none;
}
hr {
  border: 1px solid #ffffff;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: rgb(100, 120, 235);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: rgb(100, 120, 235);
}

}